.experience {
  position: absolute;
  width: 100%;
  top: 0;
  text-align: left;
}

.experience-container {
  padding: 90px 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  margin: 0 auto;
}

.experience-header {
  padding-bottom: 5px;
  text-align: left;
  width: 100%;
}

.experience-list {
  text-align: left;
  list-style: none;
  margin-bottom: 30px;
  width: 100%;
}

.experience-list-item {
  margin: 5px 0px;
  padding: 5px 0px 15px 0px;
  max-width: 700px;
}

.experience-list-item-bullets {
  padding-left: 25px;
}

.bar {
  justify-content: center;
  border-bottom: 2px solid #bbe1fa;
  width: 250px;
}

@media only screen and (max-width: 768px) {
  .experience-container {
    width: 100%;
  }
}
