* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #2b2e4a;
  height: 100vh;
  padding: 0;
  margin: 0;
  /* border: 5px solid blue; */
}

#app {
  font-family: "Lexend", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #d3d3d3;
  height: 100%;
  position: relative;
  /* border: 5px solid yellow; */
}

#nav {
  z-index: 2;
  position: relative;
  height: 70px;
  padding: 20px 0px;
  /* border: 1px solid red; */
}

#nav a {
  font-weight: bold;
  color: #d3d3d3;
  padding: 10px 25px;
  text-decoration: none;
  background-color: #2b2e4a;
  border-radius: 50px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.25),
    15px 15px 25px 0px rgba(0, 0, 0, 0.1);
  border: 3px solid transparent;
  flex: 1;
}

#nav a:nth-child(even) {
  margin: 0px 10px;
}

#nav a.router-link-exact-active {
  background-color: #bbe1fa;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.35),
    15px 15px 25px 0px rgba(0, 0, 0, 0.2);
  color: #2b2e4a;
  border: 3px solid #e84a5f;
}

.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}

.h2 {
  font-size: 1.5rem;
}

.project-card-header {
  border: 2px solid transparent;
  display: inline-block;
  transition: 150ms border ease;
  padding-bottom: 5px;
}

a {
  color: #e84545;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  border-bottom: 2px solid #e84545;
}

@media only screen and (max-width: 1200px) {
  #nav {
    margin: 0 auto;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  #nav {
    overflow-x: scroll;
  }
}
