.projects-header {
  width: 100%;
}

.projects-container {
  position: absolute;
  top: 0;
  padding: 90px 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.project-list {
  list-style: none;
}

.project-card {
  border-radius: 5px;
  margin: 15px 0px;
  max-width: 700px;
}

.project-feature-list {
  padding-left: 15px;
}

.project-card-subheader {
  margin-top: 10px;
}

.project-logos {
  display: flex;
  align-items: center;
  padding: 3px 5px;
  margin-top: 5px;
  border-radius: 5px;
  min-width: 300px;
}

.project-logos *:nth-child(even) {
  margin: 0px 10px;
}

.image-background {
  background-color: #eee;
  padding: 5px;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .projects-container {
    width: 100%;
  }
}

@media only screen and (max-width: 360px) {
  .projects-container {
    padding: 80px 10px;
  }
}
